CleanArchMvc/.vs/CleanArchMvc/FileContentIndex/81761278-df50-44d6-a090-9c8a77094311.vsidx
CleanArchMvc/.vs/CleanArchMvc/FileContentIndex/9039b41f-fd60-46e3-8dda-66a51eff7106.vsidx
CleanArchMvc/.vs/CleanArchMvc/FileContentIndex/0b0c419a-13fc-4e71-bf23-e4a56e78f7b5.vsidx
CleanArchMvc/.vs/CleanArchMvc/FileContentIndex/0b0c419a-13fc-4e71-bf23-e4a56e78f7b5.vsidx
CleanArchMvc/.vs/CleanArchMvc/FileContentIndex/7a25dbc1-b99c-4052-b9ca-d54c94e14005.vsidx